<div>
  <h3>Users Data</h3>
  <h4><a routerLink="/users/create_user">Add new User</a></h4>
  <dl>
    <div *ngFor="let user of users">
      <dt><a [routerLink]="['/users/', user.id, 'update']">User ID:{{ user.id }}</a></dt>
      <dd #name>{{ user.firstName }}</dd>
      <dd>{{ user.lastName }}</dd>
      <dd>{{ user.address }}</dd>
      <dd>{{ user.phone }}</dd>

      <button [routerLink]="['/users/', user.id, 'update']"> Update </button>
      <button (click)="onSubmitDel(user.id)">Delete</button>
    </div>
  </dl>

  <h4><a routerLink="/users/create_user">Add new User</a></h4>
  <router-outlet></router-outlet>
</div>