<h3>{{pageTitle}}</h3>
<form [formGroup]="userForm" (ngSubmit)="onSubmit()">
        <label>
                First name:
                <input type="text" formControlName="firstName" required>
                <div class="error" *ngIf="isControlInvalid('firstName')">
                        invalid
                </div>
        </label><br>
        <label>
                Last name:
                <input type="text" formControlName="lastName">
                <div class="error" *ngIf="isControlInvalid('lastName')">
                        invalid
                </div>
        </label><br>
        <label>
                Address:
                <input type="text" formControlName="address">
                <div class="error" *ngIf="isControlInvalid('address')">
                        invalid
                </div>
        </label><br>
        <label>
                Phone:
                <input type="text" formControlName="phone">
                <div class="error" *ngIf="isControlInvalid('phone')">
                        invalid
                </div>
        </label><br>
        <p>
                <button type="submit">Submit</button>
                <button routerLink="/users">Cancel</button>
        </p>
</form>